/*Il est a noter que l'inspiration pour le template de ce site web provient en grande partie de www.templateworld.com*/

html
{
	overflow-x: hidden;
	overflow-y: auto;
}

body
{
	width: 100%;
	background: #004666 url(../images/body_bg.png) top repeat-x;
}

#main
{
	width: 960px;
	margin: auto;
}

#top
{
	margin-top: 17px;
	width: 960px;
}
#top h1
{
	float: left;
}
img
{
	border:none;
}

#menu{
	float:left;
	padding:0px 0px 0px 0px;
	display:block;
	margin:30px 0px 0px 85px;
	
}
#menu li{
	float:left;
	padding:6px 8px 0px 0px;
	list-style-type: none;
}

#menu li a{
	float:left;
	padding:0px 21px 0px 0px;
	color:#8e8e8e;
	font-weight:bold;
	font-size:14px;
	background:url(../images/nav-hover.png) right top no-repeat;
	font-family:Arial;
	text-decoration: none;
}

#menu li a span{
	float:left;
	display:block;
	width:auto;
	height:23px;
	cursor:pointer;
	background:url(../images/nav-hover-span.png) left top no-repeat;
	padding:8px 0px 3px 21px;
}
#menu li a:hover, #menu li a.active{
	color:#fff;
	background-color:inherit;
	float:left;
}
#menu li a:hover span, #menu li a.active span
{
	color:#fff;
	float:left;
}

#contentwrapper
{
	float: left;
	width: 960px;
	background:url(../images/content_top.png) no-repeat top left;
	padding:11px 0px 0px 0px;
	/*background: yellow;*/
}

#content
{
	float:left;
	width:960px;
	background: #fff;
	/*background: green;*/
}

#contentcenter
{
	float:left;
	width:940px;
	margin: 0px 10px 0px 10px;
	/*background: red;*/
}

#contentcenter_top
{
	float:left;
	width: 940px;
	background:url(../images/content_center_top.png) no-repeat top left;
}

#contentcenter h3
{
	float:left;
	color:#424242;
	height:45px;
	line-height:25px;
	font-size:18px;
	font-weight:bold;
	margin: 10px 0px 0px 20px;
}

#rightchoose
{
	float: right;
	margin: 10px 20px 0px 0px;
}

#accordion,.aucune,#creation,#rapport
{
	float:left;
	width:938px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#creation form
{
	margin: 0px 0px 0px 10px;
}

.requetehead
{
	float: left;
	width: 920px;
	height: 30px;
	font-size: 0.9em;
	background: url(../images/requetes2.png) no-repeat top left;
	font-weight: bold;
	text-decoration: underline;
}

.requetehead span
{
	margin-top:6px;
}

.requetea
{
	width: 880px;
	margin: auto;
	float: left;
}


.requetes
{
	width: 920px;
	margin:auto;
}

.aucune
{
	width: 938px;
	margin: auto;
	text-align: center;
}


.idreq
{
	width: 35px;
	float: left;
}

.idreqhead
{
	margin-left: 34px;
	width: 35px;
	float: left;
}

.createur
{
	float: left;
	width: 190px;
}

.sujet
{
	float: left;
	width: 300px;
}

.categorie
{
	float: left;
	width: 95px;
}

.statut
{
	float: left;
	width: 105px;
}


.date
{
	float: right;
	text-align: right;
	width: 145px;
	margin-right: 10px;
}
.datehead
{
	float: right;
	text-align: center;
	margin-top:6px;
	width: 145px;
	margin-right: 15px;
}


.imagebottom
{
	vertical-align: top;
}

#contentcenter li
{
	list-style-type: none;
}

#footer
{
	float: left;
	width: 960px;
	margin: auto;
	color: white;
}

#footer p
{
	text-align: center;
}

#footer a
{
	text-decoration: underline;
	color: white;
}

textarea
{
	resize:none;
}

.seperate
{
	margin-bottom: 10px;
}

.error
{
	color: red;
	margin-left: 10px;
}


#accordion ul.requetes
{
	margin-left: 10px;
	padding-left: 0px;
	width: 920px;
	float: left;
}

.floatleft
{
	float: left;
	width: 856px;
}

.seperation
{
	float: left;
	margin-bottom: 5px;
}

#accordion li.header
{
	float: left;
}

.floatleft p.para
{
	float: left;
	margin-left: 0px;
	width: 100%;
	margin-top: 0px;
}

.floatleft ul
{
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	width: 100%;
}

.expl
{
	float: left;
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.1em;
	width: 100%;
	margin-bottom: 10px;
}

.desc
{
	float: left;
	margin-left: 10px;
}

.pdesc
{
	float: left;
	margin-left: 10px;
	width: 100%;
	margin-top: 0px;
}

.commentaire
{
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
}

.datecomment
{
	float: left;
	width: 150px;
}

.commentaire_text
{
	float: left;
	width: 680px;
}

#nouveauCommentaire, #nouvelleCat
{
	float:left;
	width: 100%;
	margin-left: 0px;
}

#nouvelleCat select
{
	margin-bottom: 10px;
}

#nouveauCommentaire textarea
{
	margin-bottom: 5px;
	margin-top: 5px;
}

.finass
{
	float:left;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

#rapport .titre
{
	float:left;
	width: 100%;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.1em;
	margin-left: 10px;
}

#rapport #rapportgen li
{
	float:left;
	width: 100%;
	margin-bottom: 5px;
}

.explrap
{
	float:left;
	width: 15%;
}

.detrap
{
	float: left;
	width: 85%;
}

#rapportgen
{
	float: left;
	width: 100%;
}	

#rapportdet
{
	float: left;
	width: 100%;
}

#rapportdet .tech
{
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 10px;
}

.rapelement
{
	float: left;
	width: 100%;
	text-decoration: underline;
	margin-bottom: 10px;
}

.rapdonnees
{
	float: left; 
	width: 100%;
	margin-bottom: 10px;
}

.rapdonnees li
{
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.regrouprap
{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}


.red
{
	color: red;
}

.green
{
	color: green;
}


