#{extends 'main.html' /}
#{set title:'Système de Support' /}
#{set pageselect:'index' /}
#{set section:'Requêtes' /}

#{if requetes==null || requetes.size() == 0}
	<p class = "aucune">
	Aucune requête.
	</p>
#{/if}

#{if requetes!=null && requetes.size() >= 1}
	<ul class="requetes">
	<li class = "requetehead">
		<span class = "idreq">#</span>
		<span class = "createur">Créateur</span>
		<span class = "sujet">Sujet</span>
		<span class = "categorie">Catégorie</span>
		<span class = "statut">Statut</span>
		<span class = "datehead">Date</span>
	</li>
    #{list items:requetes, as: 'requete'}
		
        <li class="requete">
			<a href="@{Application.afficheRequete(requete.id)}" class = "requetea">
			%{createur = requete.createur;}%
			<span class = "idreq">${requete.id}</span>
			<span class = "createur">${createur.prenom} ${createur.nom}</span>
			%{suj = requete.sujet.length()>20? requete.sujet.substring(0,20)+"..." : requete.sujet;}%
			<span class = "sujet">${suj}</span>
			<span class = "categorie">${requete.categorie}</span>
			<span class = "statut">${requete.statut}</span>
			<span class = "date">
            ${requete.creation.format('dd MMMM yyyy', 'fr')}
			</span>
			</a>
      </li>
    #{/list}
  </ul>
#{/if}
