#{extends 'main.html' /}
#{set title:'Home' /}
#{set section:"Création d'une nouvelle requête" /}

<div id = "creation">
<form action="@{Application.creerRequete()}" method="POST">
	<select name="categorie" class = "seperate">
    <option selected value="">Choisissez une catégorie</option>
    #{list items:categories, as: 'categorie'}
    <option value="${categorie}" #{if categorie.toString().equals(flash.categorie)}selected#{/if}>${categorie}</option>
    #{/list}
  </select>
  <span class="error">#{error 'categorie' /}</span><br />
	Sujet :
  <input type="text" name="sujet" value="${flash.sujet}" class = "seperate"/>
  <span class="error">#{error 'sujet' /}</span>
  <br />
  Description :<span class="error">#{error 'description' /}</span><br />
  <textarea name="description" rows="10" cols="60" class = "seperate">
  ${flash.description}
  </textarea><br />
	<input type="submit" value="Créer requête!"/><br />
</form>
</div>
