<!DOCTYPE html>

<html>
    <head>
        <title>Système de Support | #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/design.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.7.custom.min.js"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	<div id = "main">
		<div id = "top">
      <h1><a href="@{Application.mes()}"><img src = "@{'/public/images/logo.png'}" alt = "Logo JCMSystemes" /></a></h1>
		<ul id = "menu">
			<li><a href ="@{Application.mes()}"><span>Requêtes</span></a></li>
			<li><a href ="@{Application.nouvelleRequete()}"><span>Créer requête</span></a></li>
      <li><a href ="@{Secure.logout()}"><span>Se déconnecter</span></a></li>
		</ul>
		</div>
		<div id = "contentwrapper">
			<div id = "content">
				<div id ="contentcenter">
				<div id ="contentcenter_top">
				<h3>#{get 'section' /}</h3>
					#{if requetes != null || choice!= null}
						<div id = "rightchoose">
							<form action="@{Application.mes()}" method="GET"  name = "chooseView">
								<select name="choice" onchange="document.chooseView.submit();">
									<!-- Tous, les siennes, non assignees, assignees, succes, abandon -->
									#{if user.isTech()}
									<optgroup label="Toutes les requêtes"/>
									<option value = "toutsansfiltre" #{if choice.equals("toutsansfiltre")} selected="selected" #{/if}>Toutes</option>
									<option value = "toutassigne"#{if choice.equals("toutassigne")} selected="selected" #{/if}>Assignées</option>
									<option value = "toutnonassigne"#{if choice.equals("toutnonassigne")} selected="selected" #{/if}>Non assignées</option>
									<option value = "toutsucces"#{if choice.equals("toutsucces")} selected="selected" #{/if}>Complétées</option>
									<option value = "toutabandon"#{if choice.equals("toutabandon")} selected="selected" #{/if}>Abandonnées</option>
									</optgroup>
									#{/if}
									<optgroup label="Mes requêtes">
									<option value = "sansfiltre"#{if choice.equals("sansfiltre")} selected="selected" #{/if}>Toutes</option>
									<option value = "assigne"#{if choice.equals("assigne")} selected="selected" #{/if}>Assignées</option>
									<option value = "nonassigne"#{if choice.equals("nonassigne")} selected="selected" #{/if}>Non assignées</option>
									<option value = "succes"#{if choice.equals("succes")} selected="selected" #{/if}>Complétées</option>
									<option value = "abandon"#{if choice.equals("abandon")} selected="selected" #{/if}>Abandonnées</option>
									</optgroup>
								</select>
							</form>
						</div>
					#{/if}
				</div>
		#{doLayout /}
				<img class = "imagebottom" src="@{'/public/images/content_center_bottom.png'}" alt="" />
				</div>
			</div>
			<img class = "imagebottom" src="@{'/public/images/content_bottom.png'}" alt="" />
		</div>
		<div id = "footer">
		<p>
			Copyright &copy; JCMSystemes.com.  Tous Droits Réservés.  <a href="mailto: vandoorj@iro.umontreal.ca" title="vandoorj@iro.umontreal.ca" >Contacter Webmestre</a>
		</p>
	</div>
	</div>
    </body>
</html>
